In [55]:
import pandas as pd
a=pd.read_csv('E:\\hotel_bookingsnew.csv')

In [13]:
a.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,day
0,Resort,0.0,342.0,2015.0,July,27.0,1.0,0.0,0.0,2.0,...,NaN,NaN,0.0,Transient,0.0,0.0,0.0,Check-Out,01-07-2015,01-07-2015
1,Resort Hotel,0.0,737.0,2015.0,July,27.0,1.0,0.0,5.0,2.0,...,2.0,10.0,0.0,Transient,75.0,0.0,0.0,Check-Out,02-07-2015,02-07-2015
2,Resort Hotel,0.0,737.0,2015.0,July,27.0,1.0,0.0,5.0,2.0,...,2.0,10.0,0.0,Transient,75.0,0.0,0.0,Check-Out,02-07-2015,02-07-2015
3,Resort Hotel,NaN,13.0,2015.0,July,27.0,1.0,0.0,1.0,1.0,...,304.0,NaN,0.0,NaN,75.0,0.0,0.0,NaN,02-07-2015,01-07-2015
4,Resort Hotel,0.0,14.0,2015.0,July,27.0,1.0,0.0,NaN,2.0,...,240.0,NaN,0.0,Transient,98.0,0.0,1.0,Check-Out,03-07-2015,NaN

In [14]:
a.tail()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,day
119385,City Hotel,0.0,23.0,2017.0,August,35.0,30.0,2.0,5.0,2.0,...,394.0,NaN,0.0,Transient,96.14,0.0,0.0,Check-Out,NaN,NaN
119386,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119387,City Hotel,0.0,34.0,2017.0,August,35.0,31.0,2.0,5.0,2.0,...,9.0,NaN,0.0,Transient,NaN,0.0,4.0,Check-Out,07-09-2017,31-08-2017
119388,City Hotel,0.0,109.0,2017.0,August,35.0,31.0,2.0,5.0,2.0,...,89.0,NaN,0.0,Transient,104.40,0.0,0.0,Check-Out,07-09-2017,31-08-2017
119389,City Hotel,0.0,205.0,2017.0,August,35.0,29.0,2.0,7.0,2.0,...,9.0,NaN,0.0,Transient,151.20,0.0,2.0,Check-Out,07-09-2017,29-08-2017

In [36]:
a.isnull().sum()

hotel                                 1
is_canceled                           0
lead_time                             3
arrival_date_year                     1
arrival_date_month                    1
arrival_date_week_number              2
arrival_date_day_of_month             1
stays_in_weekend_nights               1
stays_in_week_nights                  2
adults                                1
children                             11
babies                                1
meal                                  1
country                             453
market_segment                        2
distribution_channel                  2
is_repeated_guest                     1
previous_cancellations                2
previous_bookings_not_canceled        1
reserved_room_type                    2
assigned_room_type                    1
booking_changes                       1
deposit_type                          1
agent                                 0
company                           82135
days_in_waiting_list                  1
customer_type                         0
adr                                   2
required_car_parking_spaces           1
total_of_special_requests             1
reservation_status                    4
reservation_status_date               3
day                                   3
Stay_duration                         2
Booking_Status                        0
dtype: int64

In [44]:
a.shape

(119389, 29)

In [16]:
a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 33 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119389 non-null  object
 1   is_canceled                     119386 non-null  float64
 2   lead_time                       119387 non-null  float64
 3   arrival_date_year               119389 non-null  float64
 4   arrival_date_month              119389 non-null  object
 5   arrival_date_week_number        119388 non-null  float64
 6   arrival_date_day_of_month       119389 non-null  float64
 7   stays_in_weekend_nights         119389 non-null  float64
 8   stays_in_week_nights            119388 non-null  float64
 9   adults                          119389 non-null  float64
 10  children                        119379 non-null  float64
 11  babies                          119389 non-null  float64
 12  meal                            119389 non-null  object
 13  country                         118901 non-null  object
 14  market_segment                  119388 non-null  object
 15  distribution_channel            119388 non-null  object
 16  is_repeated_guest               119389 non-null  float64
 17  previous_cancellations          119388 non-null  float64
 18  previous_bookings_not_canceled  119389 non-null  float64
 19  reserved_room_type              119388 non-null  object
 20  assigned_room_type              119389 non-null  object
 21  booking_changes                 119389 non-null  float64
 22  deposit_type                    119389 non-null  object
 23  agent                           103051 non-null  float64
 24  company                         6799 non-null    float64
 25  days_in_waiting_list            119389 non-null  float64
 26  customer_type                   119385 non-null  object
 27  adr                             119388 non-null  float64
 28  required_car_parking_spaces     119389 non-null  float64
 29  total_of_special_requests       119389 non-null  float64
 30  reservation_status              119386 non-null  object
 31  reservation_status_date         119387 non-null  object
 32  day                             119387 non-null  object
dtypes: float64(20), object(13)
memory usage: 30.1+ MB

In [52]:
a.dropna(how="all", inplace=True)
a.shape

(87396, 31)

In [53]:
#a.drop(columns=['arrival_date_year','arrival_date_month','arrival_date_week_number','arrival_date_day_of_month'],axis=1,inplace=True)

In [39]:
a['day']=a['day'].ffill()

In [40]:
a.shape

(87396, 31)

In [41]:
mean=a.agent.mean()
print(mean)
a.agent.fillna(mean,inplace=True)

94.1401521195681

In [42]:
mode=a.company.mode()
print(mode)
a.company.fillna(mode,inplace=True)

0    40.0
Name: company, dtype: float64

In [43]:
a.customer_type.fillna('unknown',inplace=True)

In [44]:
a['day']=pd.to_datetime(a['day'], format='%d-%m-%Y')

In [57]:
a['Stay_duration']=a.stays_in_weekend_nights+a.stays_in_week_nights

In [58]:
a.is_canceled.fillna(0,inplace=True)
a['Booking_Status']=a['is_canceled'].astype(int).map({0:'Not canceled',1:'Canceled'})

In [47]:
a.duplicated()
a.drop_duplicates(inplace=True)

In [59]:
a.duplicated()
a.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,day,Stay_duration,Booking_Status
0,Resort,0.0,342.0,2015.0,July,27.0,1.0,0.0,0.0,2.0,...,0.0,Transient,0.0,0.0,0.0,Check-Out,01-07-2015,01-07-2015,0.0,Not canceled
1,Resort Hotel,0.0,737.0,2015.0,July,27.0,1.0,0.0,5.0,2.0,...,0.0,Transient,75.0,0.0,0.0,Check-Out,02-07-2015,02-07-2015,5.0,Not canceled
2,Resort Hotel,0.0,737.0,2015.0,July,27.0,1.0,0.0,5.0,2.0,...,0.0,Transient,75.0,0.0,0.0,Check-Out,02-07-2015,02-07-2015,5.0,Not canceled
3,Resort Hotel,0.0,13.0,2015.0,July,27.0,1.0,0.0,1.0,1.0,...,0.0,NaN,75.0,0.0,0.0,NaN,02-07-2015,01-07-2015,1.0,Not canceled
4,Resort Hotel,0.0,14.0,2015.0,July,27.0,1.0,0.0,NaN,2.0,...,0.0,Transient,98.0,0.0,1.0,Check-Out,03-07-2015,NaN,NaN,Not canceled

In [61]:
a.to_csv('E:\\hotel_bookingscleaning.csv',header=True,mode='w')

In [62]:
a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 35 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119389 non-null  object
 1   is_canceled                     119390 non-null  float64
 2   lead_time                       119387 non-null  float64
 3   arrival_date_year               119389 non-null  float64
 4   arrival_date_month              119389 non-null  object
 5   arrival_date_week_number        119388 non-null  float64
 6   arrival_date_day_of_month       119389 non-null  float64
 7   stays_in_weekend_nights         119389 non-null  float64
 8   stays_in_week_nights            119388 non-null  float64
 9   adults                          119389 non-null  float64
 10  children                        119379 non-null  float64
 11  babies                          119389 non-null  float64
 12  meal                            119389 non-null  object
 13  country                         118901 non-null  object
 14  market_segment                  119388 non-null  object
 15  distribution_channel            119388 non-null  object
 16  is_repeated_guest               119389 non-null  float64
 17  previous_cancellations          119388 non-null  float64
 18  previous_bookings_not_canceled  119389 non-null  float64
 19  reserved_room_type              119388 non-null  object
 20  assigned_room_type              119389 non-null  object
 21  booking_changes                 119389 non-null  float64
 22  deposit_type                    119389 non-null  object
 23  agent                           103051 non-null  float64
 24  company                         6799 non-null    float64
 25  days_in_waiting_list            119389 non-null  float64
 26  customer_type                   119385 non-null  object
 27  adr                             119388 non-null  float64
 28  required_car_parking_spaces     119389 non-null  float64
 29  total_of_special_requests       119389 non-null  float64
 30  reservation_status              119386 non-null  object
 31  reservation_status_date         119387 non-null  object
 32  day                             119387 non-null  object
 33  Stay_duration                   119388 non-null  float64
 34  Booking_Status                  119390 non-null  object
dtypes: float64(21), object(14)
memory usage: 31.9+ MB

In [ ]:
pip install

In [ ]:
pip install pymysql

In [67]:
import pandas as pd
from sqlalchemy import create_engine

result = pd.read_csv("E:\\hotel_bookingscleaning.csv")

engine = create_engine(
    "mysql+pymysql://root:pass123@localhost:3306/mathi"
)

result.to_sql(
    name="hotelbooking",
    con=engine,
    if_exists="append",   # auto create if missing
    index=False
)

119390

In [1]:
import os
print(os.getcwd())

C:\Users\Admin